<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Honey Ze</title>
    <link href="css/normalize.css" rel="stylesheet" type="text/css"/><!--CSS RESET-->
    <!--	<link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">&lt;!&ndash;演示页面样式，使用时可以不引用&ndash;&gt;-->
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>

<figure class="logo logo--top js-trigger">
    <img src="img/logo.svg">
</figure>

<a class="resize" target="_blank" th:href="${sitUrl}">
    <div class="resize__inner">
        <figure class="logo logo--resize">
            <img src="img/logo.svg">
        </figure>
        <p>Please view in <span>full page</span> mode</p>
    </div>
</a>

<a class="hi" target="_blank" th:href="${sitUrl}">
    Hi
</a>

<a class="menu-btn js-menu-btn" rel="nofollow" target="_blank" th:href="${sitUrl}">
    <div class="menu-btn__circles">
        <span class="menu-btn__circle menu-btn__circle--top js-menu-btn__circle--top"></span>
        <span class="menu-btn__circle menu-btn__circle--bottom js-menu-btn__circle--bottom"></span>
    </div>
    <div class="menu-btn__text">See shot</div>
</a>

<div class="scroll" data-scroll>

    <nav class="filter">
        <ul class="filter__list">
            <li class="filter__item">
                <a class="filter__link is-active js-trigger" href="#">
                    <div area-hidden class="filter__link-mask"><span>Interiors</span></div>
                    Interiors
                </a>
            </li>
            <li class="filter__item">
                <a class="filter__link js-trigger" href="#">
                    <div area-hidden class="filter__link-mask"><span>Residential</span></div>
                    Residential
                </a>
            </li>
            <li class="filter__item">
                <a class="filter__link js-trigger" href="#">
                    <div area-hidden class="filter__link-mask"><span>Commercial</span></div>
                    Commercial
                </a>
            </li>
            <li class="filter__item">
                <a class="filter__link js-trigger" href="#">
                    <div area-hidden class="filter__link-mask"><span>Installation</span></div>
                    Installation
                </a>
            </li>
        </ul>
    </nav>

    <div class="scroll-content" data-scroll-content>

        <article class="slide slide--1 js-slide">
            <div class="slide__inner">
                <div class="slide__img js-transition-img">
                    <figure class="js-transition-img__inner">
                        <img draggable="false" src="img/project-one.jpg">
                    </figure>
                </div>
            </div>
        </article>

        <article class="slide slide--2 js-slide">
            <div class="slide__inner">
                <div class="slide__img js-transition-img">
                    <figure class="js-transition-img__inner">
                        <img draggable="false" src="img/project-two.jpg">
                    </figure>
                </div>
            </div>
        </article>

        <article class="slide slide--3 js-slide">
            <div class="slide__inner">
                <div class="slide__img">
                    <figure>
                        <img draggable="false" src="img/project-three.jpg">
                    </figure>
                </div>
            </div>
        </article>

        <!--    <article class="slide slide&#45;&#45;1 js-slide">-->
        <!--      <div class="slide__inner">-->
        <!--        <div class="slide__img">-->
        <!--          <figure>-->
        <!--            <img src="img/project-one.jpg" draggable="false">-->
        <!--          </figure>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </article>-->
        <!--    -->
        <!--    <article class="slide slide&#45;&#45;2 js-slide">-->
        <!--      <div class="slide__inner">-->
        <!--        <div class="slide__img">-->
        <!--          <figure>-->
        <!--            <img src="img/project-two.jpg" draggable="false">-->
        <!--          </figure>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </article>-->
        <!--    -->
        <!--    <article class="slide slide&#45;&#45;3 js-slide">-->
        <!--      <div class="slide__inner">-->
        <!--        <div class="slide__img">-->
        <!--          <figure>-->
        <!--            <img src="img/project-three.jpg" draggable="false">-->
        <!--          </figure>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </article>-->

    </div>

    <div class="scroll-content scroll-content--last" data-scroll-content>

        <article class="slide slide--1 js-slide">
            <div class="slide__inner">
                <div class="slide__sub-title"><span>Project</span></div>
                <h1 class="slide__title">
                    <div class="js-transition-title">Oak Refuge</div>
                </h1>
                <div class="slide__img slide__img--proxy"></div>
                <div class="slide__project">Corpus Studio</div>
            </div>
        </article>

        <article class="slide slide--2 js-slide">
            <div class="slide__inner">
                <div class="slide__sub-title"><span>Project</span></div>
                <h1 class="slide__title">
                    <div class="js-transition-title">Teton Residence</div>
                </h1>
                <div class="slide__img slide__img--proxy"></div>
                <div class="slide__project">Ro Rocket Design</div>
            </div>
        </article>

        <article class="slide slide--3 js-slide">
            <div class="slide__inner">
                <div class="slide__sub-title"><span>Project</span></div>
                <h1 class="slide__title">Oak Refuge</h1>
                <div class="slide__img slide__img--proxy"></div>
                <div class="slide__project">Corpus Studio</div>
            </div>
        </article>

        <!--    <article class="slide slide&#45;&#45;1 js-slide">-->
        <!--      <div class="slide__inner">-->
        <!--        <div class="slide__sub-title"><span>Project</span></div>-->
        <!--        <h1 class="slide__title">Teton Residence</h1>-->
        <!--        <div class="slide__img slide__img&#45;&#45;proxy"></div>-->
        <!--        <div class="slide__project">Ro Rocket Design</div>-->
        <!--      </div>-->
        <!--    </article>-->
        <!--    -->
        <!--    <article class="slide slide&#45;&#45;2 js-slide">-->
        <!--      <div class="slide__inner">-->
        <!--        <div class="slide__sub-title"><span>Project</span></div>-->
        <!--        <h1 class="slide__title">Oak Refuge</h1>-->
        <!--        <div class="slide__img slide__img&#45;&#45;proxy"></div>-->
        <!--        <div class="slide__project">Corpus Studio</div>-->
        <!--      </div>-->
        <!--    </article>-->
        <!--    -->
        <!--    <article class="slide slide&#45;&#45;3 js-slide">-->
        <!--      <div class="slide__inner">-->
        <!--        <div class="slide__sub-title"><span>Project</span></div>-->
        <!--        <h1 class="slide__title">Teton Residence</h1>-->
        <!--        <div class="slide__img slide__img&#45;&#45;proxy"></div>-->
        <!--        <div class="slide__project">Ro Rocket Design</div>-->
        <!--      </div>-->
        <!--    </article>-->

    </div>

    <div class="scrollbar" data-scrollbar>
        <div class="scrollbar__handle js-scrollbar__handle"></div>
    </div>

</div>

<div class="mask js-mask">
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__inner">
        <figure class="logo logo--mask">
            <img class="js-logo" src="img/logo.svg">
        </figure>
        <div class="mask-line js-mask-line">
            <div class="mask-line__inner js-mask-line"></div>
        </div>
    </div>
</div>

<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js'></script>-->
<script src='js/imagesloaded.pkgd.min.js'></script>
<script src="js/script.js"></script>
</body>
</html>