<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Honey Ze</title>
    <link href="css/normalize.css" rel="stylesheet" type="text/css"/><!--CSS RESET-->
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>

<figure class="logo logo--top js-trigger">
    <img src="img/logo.png">
</figure>

<a class="resize" target="_blank" th:href="${sitUrl}">
    <div class="resize__inner">
        <figure class="logo logo--resize">
            <img src="img/logo.png">
        </figure>
        <p>Please view in <span>full page</span> mode</p>
    </div>
</a>

<a class="hi" target="_blank" th:href="${sitUrl}">
    Hi
</a>

<a class="menu-btn js-menu-btn" rel="nofollow" target="_blank" th:href="${sitUrl}">
    <div class="menu-btn__circles">
        <span class="menu-btn__circle menu-btn__circle--top js-menu-btn__circle--top"></span>
        <span class="menu-btn__circle menu-btn__circle--bottom js-menu-btn__circle--bottom"></span>
    </div>
    <div class="menu-btn__text">See shot</div>
</a>

<div class="scroll" data-scroll>

    <nav class="filter">
        <ul class="filter__list">
            <li class="filter__item" th:each="item:${projectList}">
                <a class="filter__link is-active js-trigger" th:href="${item.url}">
                    <div area-hidden class="filter__link-mask" th:onclick="jumpUrl([[${item.url}]]);">
                        <span th:text="${item.content}"></span>
                    </div>
                    <span th:text="${item.content}"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="scroll-content" data-scroll-content>

        <article class="slide  js-slide" th:class="'slide js-slide slide--' + ${item.sort % 3}"
                 th:each="item:${projectList}"
        >
            <div class="slide__inner">
                <div class="slide__img js-transition-img">
                    <figure class="js-transition-img__inner">
                        <img draggable="false" th:src="${item.backgroundUrl}">
                    </figure>
                </div>
            </div>
        </article>


    </div>

    <div class="scroll-content scroll-content--last" data-scroll-content>

        <article class="slide js-slide" th:class="'slide js-slide slide--' + ${item.sort % 3}"
                 th:each="item:${projectList}"
        >
            <div class="slide__inner">
                <div class="slide__sub-title"><span th:text="${item.header}"></span></div>
                <h1 class="slide__title">
                    <div class="js-transition-title" th:text="${item.content}">Oak Refuge</div>
                </h1>
                <div class="slide__img slide__img--proxy" th:onclick="jumpUrl([[${item.url}]]);"></div>
                <div class="slide__project" th:text="${item.footer}">Corpus Studio</div>
            </div>
        </article>
    </div>

    <div class="scrollbar" data-scrollbar>
        <div class="scrollbar__handle js-scrollbar__handle"></div>
    </div>

</div>

<div class="mask js-mask">
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__inner">
        <figure class="logo logo--mask">
            <img class="js-logo" src="img/logo.png">
        </figure>
        <div class="mask-line js-mask-line">
            <div class="mask-line__inner js-mask-line"></div>
        </div>
    </div>
</div>

<script src='js/TweenMax.min.js'></script>
<script src='js/imagesloaded.pkgd.min.js'></script>
<script src="js/script.js"></script>
<script>
    function jumpUrl(url) {
        if (!url) {
            return;
        }
        window.open(url);
    }
</script>
</body>
</html>
